{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<div><a href={{ url("app_login") }}>"S'authentifier"</a></div>
<div><a href={{ url("app_register") }}>"S'enregistrer"</a></div>
{% endblock %}
