{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

{% if app.user and "ROLE_ADMIN" in app.user.getRoles() %}
    <a href={{ url("read_tasks") }}>Gérer les tâches</a>
{% endif %}

<ul>
    {% for task in tasks %}
        <li>{{ task.name }}</li>
    {% endfor %}
</ul>

{% endblock %}
